<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Email" type="email" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput placeholder="Password" type="password" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
  