<form [formGroup]="registerForm" (ngSubmit)="register()">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="Email" type="email" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput placeholder="Password" type="password" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Display Name</mat-label>
    <input formControlName="displayName" matInput placeholder="Display Name" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input formControlName="phoneNumber" matInput placeholder="Phone Number">
  </mat-form-field>
  <input type="file" (change)="onFileSelected($event)" />
  <button mat-raised-button color="primary" type="submit">Register</button>
</form>
